#footer{
    height: 8vh;
    background-color: rgb(53, 66, 74);
    a {
        color: white;
        margin-left: 5px;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}