#header{
    height: 10vh;
    background-color: white;
    border-bottom: 2px solid rgb(217, 4, 114);;
    #logo{
        display: inline-block;
        top: 15px;
        left: 25px;
        position: relative;
        .first{
            font-size: 12px;
            color: white;
            background-color: rgb(53, 66, 74);
   
        }
        .second{
            font-size: 22px;
    
        }
        .third{
            margin-left: 2px;
            font-size: 24px;
        }
    }
}